
html, body {
    height: 100%;
    margin: 0;
}

#left, #right {
    height: 100%;
    float: left;
}

#left {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    background-color: aquamarine;
}

#right {
    width: 20%;
    float: left;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* USERS CONTAINER */

#my-profile {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; /* To clip the image */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#my-name,
  #my-photo {
    width: calc(70% - 5px);
    margin: 0 auto;
  }

#my-name {
    margin-top: 10px;
  }

#my-photo img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }

#userlist {
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow-y: auto;
  }

.user {    /* small div containing username  */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-color: #b6fff2;
  }

.user:last-child {
    border-bottom: none;
 }

.inactive {
    background: beige;
    color: gray;
}

/*  CHAT CONTAINER */

#chat-container {
    position: relative;
    width: calc(100% - 40px);
    border: 1px solid aqua;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: calc(83% - 40px);
    overflow-y: auto;
    margin: 10px
}

#talking-to {
    margin-left: 20px;
    margin-top: 10px;
    font-style: oblique;
}

/* typing container */

#typing-container {
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;
    flex: 0;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#typing-div,
#send-div {
    width: calc(100% - 20px);
    margin: 5px 0;
}
#typing-div {
    flex: 1;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

#send-div {
    flex: 0;
    margin-left: 10px;
    align-items: center;
}

#sendbtt {
    width: 95%;
    margin-left: 2%;
    background-color: #b6fff2;
    border-width: 1px;
    border-radius: 5px;
}

#chat-container {

}

#message-list {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    border: 5px aqua;
}

.message {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.sent {
  background-color: #DCF8C6;
  float: right;
}

.received {
  background-color: #E8E8E8;
  float: left;
}

.message-container {
  clear: both;
}